[user]
	name = Viktor Grünwaldt
	email = v.gruenwaldt@protonmail.com
[pull]
	rebase = true
[color]
	ui = auto
[core]
	autocrlf = input
[init]
	defaultBranch = master
[push]
	default = simple
	autoSetupRemote = true
[merge]
	conflictstyle = diff3
[help]
	autocorrect = prompt
[diff]
	colorMoved = default
	algorithm = histogram
