[user]
	name = Viktor Grünwaldt
	email = vik777gru@gmail.com
[pull]
	rebase = false
[color]
	ui = auto
[core]
	autocrlf = input
[init]
	defaultBranch = master
[push]
	default = simple
	autoSetupRemote = true
