@import "macchiato.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
    font-family: "Hack Nerd Font", "Roboto";
    font-size: 16px;
}

.modules-left {
    margin: 4px;
    padding: 4px;
    background-color: @surface0;
    border-radius: 2rem;
}

.modules-right {
    margin: 4px;
    padding: 3px;
    background-color: @surface0;
    border-radius: 2rem;
}

window#waybar {
    /* background-color: #313244; old */
    /*background-color: @base;*/
    background-color: transparent;
    transition-property: background-color;
    transition-duration: .5s;
    border: none;
}

/*.window:empty {
	display:none;
}*/

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.firefox {
    background-color: @base;
    border: none;
}

#workspaces {
    /*margin: 4px;
	padding: 3px;*/
    background-color: @surface1;
    border-radius: 2rem;
}

#workspaces button {
    padding: 0px;
    margin: 2px;
    /* background-color: transrarent; */
    color: @text;
    border-radius: 2rem;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: @surface2;
}

#workspaces button.focused {
    background-color: #cba6f7;
    color: #4c4f69;
}

#workspaces button.urgent {
    background-color: @red;
}

#mode {
    background-color: @red;
    /* border-bottom: 3px solid #ffffff; */
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#custom-pipewire,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    border-radius: 2rem;
    padding-left: 8px;
    padding-right: 8px;
    margin: 2px;
    color: #4c4f69;
}

#window {
    border-radius: 2rem;
    margin-left: 4px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: @surface1;
    /* padding: 0 6px; */
}


window#waybar.empty #window {
    background-color: transparent;
}

#clock {
    background-color: @maroon;
}

#battery {
    background-color: @peach;
}

#battery.charging,
#battery.plugged {
    background-color: @yellow;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    /*    color: #000000;*/
}

#memory {
    background-color: #9b59b6;
    color: @crust;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: @sapphire;
}

#network.disconnected {
    background-color: @sky;
}

#custom-pipewire {
    background-color: @green;
}

#custom-pipewire.muted {
    background-color: #90b1b1;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-mpv {
    background-color: #ffa000;
}

#temperature {
    background-color: @pink;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    /* background-color: #a6e3a1; */
    background-color: @surface1;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state>label {
    padding: 0 5px;
}

#keyboard-state>label.locked {
    background: rgba(0, 0, 0, 0.2);
}